.prototype_body_20 {
  background: #262b3a;
  font-family: Inter, sans-serif;
  font-weight: regular;
  text-transform: uppercase;
  padding: 10px;
}

#prototype_20 {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // height: 100%;
  //margin: auto;
  width: 100%;

  .instrumentUIContainer,
  .instrumentUI {
    width: 100%;
  }

  .Container {
    h1 {
      line-height: 83%;
      font-size: 5vw;
      font-weight: 200;
      margin: 0;
    }
    h3 {
      text-align: center;
      margin: 0;
      margin-bottom: 30px;
      font-size: 3vw;
      font-weight: 200;
      line-height: 83%;
      margin-top: 10px;
    }

    & > .SC_Button:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 250px;
      // margin: auto;
      //margin-bottom: 20px;
      border-radius: 50%;
      color: #6a3d7e;
      background: #dcbceb;
      text-align: center;
      font-size: 5vw;
      line-height: 150px;
    }

    .Header {
      display: flex;
      height: 250px;
      .SC_Button:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 100%;
        border-radius: 50%;
        color: #6a3d7e;
        background: #dcbceb;
        text-align: center;
        font-size: 5vw;
        line-height: 150px;
      }
      .Pic {
        background-image: url("http://localhost:3000/pill.svg");
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        width: 628px;
      }
      .BpmWpapper {
        height: 100%;
        .Rect {
          height: 50%;
          width: 542px;
          border-radius: 40px;
          background-color: var(--yellow);
        }
        .BPM {
          height: 100%;
          width: 542px;
          border-radius: 40px;
          background-color: var(--purple);
          padding: 20px;
          h3 {
            font-size: 5vw;
            color: var(--dark-purple);
            margin-bottom: 80px;
          }
        }
      }
    }

    .All {
      display: flex;
    }

    .Synth {
      display: flex;
      flex-direction: row;
      width: 100%;

      .SynthName {
        height: 220px;
        border-radius: 40px;
        display: flex;
        align-items: flex-end;
        padding: 20px;
        h1 {
          width: 200px;
        }
      }

      // .SC_ToggleButtonSet {
      //   .Buttons {
      //     column-count: 3;
      //     column-gap: 0;
      //   }
      //   border-radius: 40px;
      //   padding: 20px;
      // }

      .EnvSettings {
        border-radius: 40px;
        background: var(--light-green);
        padding: 20px;
        padding-top: 30px;
      }

      .Left {
        h1,
        h2,
        h3 {
          color: var(--dark-green);
        }

        .OpenChoose {
          .SC_ToggleButton {
            height: 120px;
            border-radius: 50px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 10px;
            font-size: 3vw;
            text-align: center;
            background-color: var(--light-green);
            color: var(--dark-green);
            cursor: pointer;

            &:hover:not(.active) {
              background-color: #ceeade;
            }

            &.active {
              color: var(--dark-green);
              background-color: var(--light-green);
              cursor: pointer;

              &:hover {
                background-color: #ceeade;
              }
            }
          }

          .DuoButtons {
            .SC_ToggleButton {
              border: none;
              font-size: 2vw;
              background-color: var(--light-green);
              color: var(--dark-green);
              cursor: pointer;

              &:hover:not(.active) {
                background-color: #ceeade;
              }

              &.active {
                color: var(--dark-green);
                background-color: var(--light-green);
                cursor: pointer;

                &:hover {
                  background-color: #ceeade;
                }
              }
            }
          }
        }
      }

      .Left,
      .Right {
        width: 50%;
        .SynthName,
        .SC_ToggleButtonSet,
        .Envelope {
          background: var(--light-green);
        }
        .ChorusEffect {
          .SC_ToggleButtonSet {
            margin-bottom: 30px;
            h3 {
              font-size: 1vw;
              text-align: left;
            }
          }
          
        }
        .Wave {
          .SC_ToggleButtonSet {
            .Buttons {
              column-count: 3;
              column-gap: 0;
            }
            border-radius: 40px;
            padding: 20px;
          }
        }
      }
    }

    .SequenceSettings {
      display: flex;
      flex-direction: row;
      width: 100%;
      .Sequence,
      .Sound {
        width: 50%;
      }
    }

    .Sequence,
    .Sound,
    .Effect,
    .Select,
    .Volume {
      border-radius: 40px;
      background: var(--light-green);
      padding: 20px;
    }

    .Volume {
      padding-top: 30px;
    }

    

    .ChorusEffect {
      .Buttons {
        column-count: 2;
        column-gap: 0;
      }
    }

    .DuoEffect {
      display: flex;
      flex-direction: row;
      width: 100%;
      .Effect {
        width: 50%;
      }
    }

    .SC_ToggleButton {
      height: 60px;
      border-radius: 50px;
      border: 1px solid var(--light-green);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 10px;
      font-size: 14px;
      text-align: center;
      background-color: #f3f3f3;
      color: var(--dark-green);
      cursor: pointer;

      &:hover:not(.active) {
        background-color: var(--light-grey);
      }

      &.active {
        color: var(--light-green);
        background-color: var(--dark-green);
        cursor: default;
      }
    }

    .SC_Slider {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 30px;

      h3 {
        margin-bottom: 20px;
        font-size: 1vw;
      }

      input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
      }

      input[type="range"]::-webkit-slider-runnable-track {
        height: 6px;
        background: #f3f3f3;
        border: none;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 30px;
        width: 92px;
        border-radius: 10px;

        background: #27272f;
        margin-top: -12px;
        cursor: pointer;
      }

      input[type="range"]:focus {
        outline: none;
      }

      input[type="range"]:focus::-webkit-slider-runnable-track {
        background: var(--white);
      }
    }

    .SC_Knob {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .wrapper {
        position: relative;
        width: 180px;
        height: 180px;
        margin-bottom: 14px;
        user-select: none;
        /* background: var(--medium-grey); */

        h3 {
          text-align: center;
          text-transform: uppercase;
          color: var(--white);
        }
      }

      .body {
        position: absolute;
        left: 60px;
        top: 86px;

        div {
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
          height: 60px;
          background: var(--white);
          border-radius: 50px;
          z-index: 1;

          &:hover {
            filter: brightness(90%);
            cursor: pointer;
          }

          &::before {
            position: absolute;
            top: 0;
            left: 28px;
            display: block;
            content: "";
            width: 4px;
            height: 20px;
            background: var(--dark-green);
          }
        }
      }

      .value {
        position: absolute;
        top: 55px;
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        font-size: 12px;
        display: flex;
        width: 22px;
        height: 13px;
        font-size: 10px;
        font-weight: 400;
        color: var(--white);
      }

      .bullet {
        width: 4px;
        height: 9px;
        background-color: var(--white);
      }

      .group {
        position: absolute;
        height: 93px;
        width: 4px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }

      #group1 {
        transform: rotate(90deg);
        left: 88px;
        top: 70px;
      }

      #group2 {
        transform: rotate(45deg);
        left: 89px;
        top: 70px;
      }

      #group3 {
        top: 70px;
        left: 87px;
        transform: rotate(-45deg);
      }

      .lastBullet {
        width: 4px;
        height: 9px;
        left: 88px;
        top: 70px;
        background-color: var(--white);
        position: absolute;
      }

      .name {
        position: absolute;
        top: 14px;
        left: 15px;
        width: 150px;
        height: 20px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
      }

      #value7 {
        top: 148px;
        left: 31px;

        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        text-align: right;
      }

      #value9 {
        top: 109px;
        left: 15px;

        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        text-align: right;
      }

      #value11 {
        top: 71px;
        left: 31px;

        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        text-align: right;
      }

      #value12 {
        top: 55px;
        left: 79px;

        text-align: center;
        justify-content: center;
        align-items: center;
      }

      #value2 {
        top: 71px;
        right: 31px;

        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
      }

      #value3 {
        top: 109px;
        right: 15px;

        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
      }

      #value5 {
        top: 148px;
        right: 31px;

        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
      }
    }

    .Surface {
      position: relative;
      width: 560px;
      height: 300px;
      margin: 50px 0;
      background: var(--grey);

      .pointer {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: var(--acid-green);
        cursor: pointer;
      }
    }

    .Select {
      position: relative;
      //margin: 30px 0;
      background: var(--light-green);
      cursor: pointer;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      //height: 120px;

      .currentValue {
        padding: 10px 20px;
        line-height: 30px;
        font-size: 2vw;
        color: var(--dark-green);
      }

      .options {
        //position: absolute;
        width: 100%;

        .SelectItem {
          padding: 10px 20px;
          line-height: 30px;
          background: var(--light-green);
          text-align: center;
          border-radius: 40px;
          color: var(--dark-green);
          font-size: 2vw;

          &:hover {
            background: #ceeade;
          }

          &.active {
            background: var(--dark-green);
            color: var(--light-green);
          }
        }
      }
    }
    .DuoButtons {
      display: flex;
      flex-direction: row;
      width: 100%;
      .SC_ToggleButton {
        width: 50%;
        height: 348px;
        border-radius: 50%;
        border: none;
        font-size: 2vw;
        background-color: var(--light-green);
        color: var(--dark-green);
        cursor: pointer;

        &:hover:not(.active) {
          background-color: #ceeade;
        }

        &.active {
          color: var(--light-green);
          background-color: var(--dark-green);
          cursor: pointer;

          &:hover {
            color: var(--dark-green);
            background-color: #ceeade;
          }
        }
      }
    }

    .Synth {
      .Right {
        .Effect,
        .SynthName,
        .SC_ToggleButtonSet {
          background: var(--blue);
        }
        .Wave {
          .SC_ToggleButtonSet {
            background: var(--blue);
          }
        }
        .SC_ToggleButton {
          border: 1px solid var(--blue);
          &.active {
            color: var(--blue);
            background-color: var(--dark-blue);
            cursor: default;
          }
        }
        h1,
        h2,
        h3 {
          color: var(--dark-blue);
        }

        .EnvSettings {
          background: var(--blue);
        }
        .OpenChoose {
          .SC_ToggleButton {
            height: 120px;
            border-radius: 50px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 10px;
            font-size: 3vw;
            text-align: center;
            background-color: var(--blue);
            color: var(--dark-blue);
            cursor: pointer;

            &:hover:not(.active) {
              background-color: #b8ccff;
            }

            &.active {
              color: var(--dark-blue);
              background-color: var(--blue);
              cursor: pointer;

              &:hover {
                background-color: #b8ccff;
              }
            }
          }
        }
      }
    }

    .Boom {
      width: 100%;
      .Beat {
        border-radius: 40px;
        background: var(--red);
        padding: 20px;
        width: 100%;
        color: var(--dark-red);
        h1 {
          margin-bottom: 40px;
        }
        .Volume {
          border-radius: none;
          background: none;
          padding: 0;
        }
      }
    }

    .toggleUIButton {
      padding: 8px 10px;
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
      background-color: var(--white);
      color: var(--black);
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: var(--light-grey);
      }
    }

    .sampleButtonWrapper {
      column-count: 4;
      column-gap: 0;
      .SC_Button {
        padding: 8px 10px;
        border-radius: 50%;
        border: 1px solid #262b3a;
        font-size: 1vw;
        text-align: center;
        //text-transform: capitalize;
        background-color: var(--yellow);
        color: #C88829;
        cursor: pointer;
        width: 100%;
        height: 175px;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: var(--dark-yellow);
          color: var(--light-yellow);
        }
      }
      .Square {
        .SC_Button {
          border-radius: 40px;
        }
      }
    }
  }
}
