.prototype_body_19 {
  background: #262b3a;
  font-family: Inter, sans-serif;
  font-weight: regular;
  text-transform: uppercase;
  padding: 10px;
}

#prototype_19 {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // height: 100%;
  //margin: auto;
  width: 100%;

  .Container {
    h1 {
      line-height: 83%;
      font-size: 5vw;
      font-weight: 200;
      margin: 0;
    }
    h3 {
      text-align: center;
      margin: 0;
      margin-bottom: 30px;
      font-size: 2vw;
      font-weight: 200;
      line-height: 83%;
    }
    .Header {
      display: flex;
      .SC_Button:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 250px;
        // margin: auto;
        //margin-bottom: 20px;
        border-radius: 50%;
        color: #6a3d7e;
        background: #dcbceb;
        text-align: center;
        font-size: 5vw;
        line-height: 150px;
      }
      .Pic {
        background-image: url('http://localhost:3000/pill.svg');
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 628px;
      }
    }

    .Synth {
      display: flex;
      flex-direction: row;

      .Left,
      .Right {
        width: 50%;
      }
    }

    .SC_ToggleButton {
      height: 60px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 10px;
      font-size: 14px;
      text-align: center;
      background-color: #f3f3f3;
      color: var(--black);
      cursor: pointer;

      &:hover:not(.active) {
        background-color: var(--light-grey);
      }

      &.active {
        color: var(--black);
        background-color: var(--dark-green);
        cursor: default;
      }
    }

    .SC_Slider {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 30px;

      h3 {
        margin-bottom: 20px;
        font-size: 1vw;
      }

      input[type='range'] {
        -webkit-appearance: none;
        width: 100%;
      }

      input[type='range']::-webkit-slider-runnable-track {
        height: 6px;
        background: #f3f3f3;
        border: none;
      }

      input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 40px;
        width: 92px;
        border-radius: 10px;

        background: #27272f;
        margin-top: -16px;
        cursor: pointer;
      }

      input[type='range']:focus {
        outline: none;
      }

      input[type='range']:focus::-webkit-slider-runnable-track {
        background: var(--white);
      }
    }
  }

  .SC_ToggleButtonSet {
    .Buttons {
      column-count: 3;
      column-gap: 0;
    }
    border-radius: 40px;
    padding: 20px;
  }

  .Row {
    display: flex;
    justify-content: space-between;
    .Column {
      width: 47%;
    }
  }

  .Channel {
    .SC_ToggleButton {
      background-color: black;
    }
  }

  .Effects {
    flex-direction: column;
  }

  .Effects,
  .FirstRow,
  .SecondRow {
    display: flex;
  }
  .PingPong,
  .Chorus,
  .Distortion,
  .Freeverb {
    width: 50%;
    padding: 20px;
    border-radius: 50px;
  }
  .Right {
    h1,
    h3 {
      color: #314474;
    }
    .SynthName,
    .SC_ToggleButtonSet,
    .Envelope {
      background-color: #93adf0;
    }
    .Effects {
      flex-direction: row;
    }
    .SC_ToggleButton {
      border: 1px solid #93adf0;
      color: #93adf0;
      &.active {
        color: #93adf0;
        background-color: #314474;
        cursor: default;
      }
    }
    .PingPong,
    .Chorus,
    .Distortion,
    .Freeverb {
      background-color: #93adf0;
    }
  }
  .Left {
    h1,
    h3 {
      color: #3a5b4e;
    }
    .SynthName,
    .SC_ToggleButtonSet,
    .Envelope {
      background-color: #a9c9bb;
    }
    .SC_ToggleButton {
      border: 1px solid #a9c9bb;
      color: #3a5b4e;
      &.active {
        color: #a9c9bb;
        background-color: #3a5b4e;
        cursor: default;
      }
    }
    .PingPong,
    .Chorus,
    .Distortion,
    .Freeverb {
      background-color: #a9c9bb;
    }
  }
  .SynthName {
    height: 220px;
    border-radius: 40px;
    display: flex;
    align-items: flex-end;
    padding: 20px;
  }

  .Envelope {
    border-radius: 40px;
    padding: 20px;
    height: 240px;
    .SC_Slider {
      input[type='range']::-webkit-slider-thumb {
        border: none;
        height: 40px;
        width: 40px;
        border-radius: 50%;

        margin-top: -18px;
        cursor: pointer;
      }
    }
  }

  .Samples {
    display: flex;
    .ToneSynth {
      width: 33.33%;
    }
    .SC_ToggleButton {
      height: 237px;
      font-size: 5vw;
      background-color: #ebc388;
      border: 1px solid #262b3a;
      color: #f5e6cf;
      &.active {
        color: #f5e6cf;
        background-color: #eab15c;
        cursor: default;
      }
    }
    .SC_ToggleButton:nth-child(2) {
      border-radius: 50%;
    }
  }
}