.prototype_body_15 {
  background: var(--medium-grey);
  font-family: Inter, sans-serif;
  font-weight: regular;
  text-transform: uppercase;
}

#prototype_15 {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // height: 100%;
  //margin: auto;
  width: 100%;

  .Container {
    h1 {
      line-height: 83%;
      font-size: 6vw;
      font-weight: 200;
    }
    h3 {
      text-align: center;
    }
    .Header {
      .SC_Button:first-child {
        width: 560px;
        height: 140px;
        // margin: auto;
        margin-bottom: 20px;
        color: var(--black);
        background: var(--acid-green);
        text-align: center;
        font-size: 30px;
        line-height: 150px;
      }
    }

    .Synth {
      display: flex;
      flex-direction: row;

      .Left,
      .Right {
        width: 50%;
      }
    }

    .SC_ToggleButton {
      height: 60px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      padding: 8px 10px;
      font-size: 14px;
      text-align: center;
      background-color: var(--white);
      color: var(--black);
      cursor: pointer;

      &:hover:not(.active) {
        background-color: var(--light-grey);
      }

      &.active {
        color: var(--black);
        background-color: var(--dark-green);
        cursor: default;
      }
    }

    .SC_Slider {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      h3 {
        margin-bottom: 14px;
        font-size: 16px;
      }

      input[type='range'] {
        -webkit-appearance: none;
        width: 100%;
      }

      input[type='range']::-webkit-slider-runnable-track {
        height: 4px;
        background: var(--white);
        border: none;
      }

      input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 30px;
        //border-radius: 50%;
        background: var(--dark-green);
        margin-top: -6px;
        cursor: pointer;
      }

      input[type='range']:focus {
        outline: none;
      }

      input[type='range']:focus::-webkit-slider-runnable-track {
        background: var(--white);
      }
    }
  }

  .SC_ToggleButtonSet {
    .Buttons {
      column-count: 3;
      column-gap: 0;
    }
  }

  .Row {
    display: flex;
    justify-content: space-between;
    .Column {
      width: 47%;
    }
  }

  .Channel {
    .SC_ToggleButton {
      background-color: black;
    }
  }
}
