:root {
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #262626;
  --medium-grey: #8d8d8d;
  --grey: #c5c5c5;
  --light-grey: #eaeaea;
  
  --acid-green: #79ff39;
  --purple: #DCBCEB;
  --dark-purple: #6a3d7e;
  --light-green: #A9C9BB;
  --dark-green: #3A5B4E;
  --light-yellow: #F5E6CF;
  --yellow: #EBC388;
  --dark-yellow: #E78F3D;
  --red: #EA8989;
  --dark-red: #731F1F;
  --blue: #93ADF0;
  --dark-blue: #314474;
}
